.textFields {
  display: flex;
  justify-content: center;
  gap: 30px;
  flex-wrap: wrap;
  font-size: larger;
  padding-top: 8px;
  padding-bottom: 12px;
}

.submitButton {
  font-size: larger;
  width: 110px;
  height: 28px;
}
